.jar
.lock
.log
.ini
.properties
.xml
.txt
.location
.markers
.tree
.version
.index
.resources
.prefs
.xmi
.project
.dat
.ser
.settings
.wt
.bson
.turtle
.0000000001
.0000000002
.parasoft
.bak
.csv
.bat
.rar
.xls
.suppress
.classpath
.class
.java
.pydevproject
.tmp
.policy