*.jar
*.lock
*.log
*.ini
*.properties
*.xml
*.txt
*.location
*.markers
*.tree
*.version
*.index
*.resources
*.prefs
*.xmi
*.project
*.dat
*.ser
*.settings
*.wt
*.bson
*.turtle
*.0000000001
*.0000000002
*.parasoft
*.bak
*.csv
*.bat
*.rar
*.xls
*.suppress
*.classpath
*.class
*.java
*.pydevproject
*.tmp
*.policy
*.xls
*.xsd
*.jsp
*.svg
*.css
*.py 
*.html
*.gif
*.dtd
*.md
*.tag
*.tld
*.xsl
*.xhtml
*.jspf
*.woff
*.png
*.war
*.gz
*.tar
*.sh
*.jspx
*.ico
#Carpetas
apache-tomcat-8.5.82/